
mixin checkin(firstName, lastName, username, userId, profilePicture, breweryPicture, beerName, beerId, brewery, breweryId, checkinId, rating, comment, createdAt )
    .checkin
        head    
            link(rel="stylesheet" type="text/css" href="styles/checkin.css")
        img.checkin__profile-picture(src=profilePicture)
        .checkin__main
            p #[a(href=`/users/${userId}`) #{firstName} #{lastName}] drank #[a(href=`/beers/${beerId}`) #{beerName}] from #[a(href=`/breweries/${breweryId}`) #{brewery}]
            .checkin__rating
                p Rating: 
                    span.checkin__rating-val(data-rating=rating)
                        //-created from the script
            if comment
                p=comment
            else 
                p No comment
            div.checkin__other-info
                p.checkin__date=createdAt
                p.checkin__delete
                    a(href=`/${username}/${checkins}/${checkinId}`) Delete checkin
        img.checkin__profile-picture(src=breweryPicture)
