mixin brewerylist(brewery)
  head  
    link(rel="stylesheet" href="/styles/search-brewery.css")
  .brewery__container-brewery-list
              .brewery-item
                a.label(href=`/breweries/${brewery.id}`)
                  img.label__image(src=brewery.image)
                .brewery-details
                  a(href=`/breweries/${brewery.id}`).name=brewery.name
                  p.location=brewery.location
                .details
                  if brewery.Beer
                    p.beers #{brewery.Beer.length} beers
                  else 
                    p.beers No beers!
                  if brewery.Checkin
                    p.ratings #{brewery.Checkin.length} checkins
                  else 
                    p.ratings No checkins yet!
                  if brewery.avgRaging
                    p.rating-container #{brewery.avgRating} 🍺
                  else
                    p.rating-container No ratings yet!

//TODO: link the name,location, etc
