//-
mixin checkin(checkin)
    .checkin
        head
            link(rel="stylesheet" type="text/css" href="/styles/checkin.css")
        img.checkin__profile-picture(src=checkin.User.photo)
        .checkin__main
            p #[a(href=`/users/${checkin.User.id}`) #{checkin.User.firstName} #{checkin.User.lastName}] drank #[a(href=`/beers/${checkin.Beer.id}`) #{checkin.Beer.name}] from #[a(href=`/breweries/${checkin.Beer.Brewery.id}`) #{checkin.Beer.Brewery.name}]
            .checkin__rating
                p Rating:
                    span.checkin__rating-val=checkin.displayRating
                        //-created from the script
            if checkin.comment
                p=checkin.comment
            else
                p No comment
            div.checkin__other-info
                span.checkin__date=checkin.createdAt
                if checkin.isSessionUser
                    span.checkin__delete #[a(href=`/checkins/${checkin.id}/delete`) Delete check-in]
        img.checkin__profile-picture(src=checkin.Beer.Brewery.image)
